@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');
.redressed {
	font-family: 'Redressed', cursive;
}

.merriweather {
	font-family: 'Merriweather', serif;
}
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 
}



  
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important;
 
  }
.list-unstyled{
  color: white;
}


.content {
  height: 50vh; }

.footer-16371 {
  /*padding: 7rem 0;*/
  font-family: 'Merriweather', serif;
  /*background: linear-gradient(rgba(0, 0, 0, 1.5), rgba(44, 43, 43, 0.5));*/
  background: linear-gradient(rgba(0, 0, 0, 1.5), rgba(100, 142, 220, 0.5));
  margin-top: 50px;
  height: fit-content;

  
}
.container{

}



  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: -10px;
   }
    .footer-16371 .footer-site-logo a {
      color: #4200ff; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color:white; }
        .footer-16371 .nav-links li a:hover {
          color:  rgb(74, 137, 237); }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #58df68; }
    .footer-16371 .social ul li.tw a {
      color: #15b8ff; }
    .footer-16371 .social ul li.fb a {
      color: #3742d0; }
   
